/*
@media only screen and (max-width: 1024px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 49.2%;
	}
    .input-one{
        display: inline-flex;
    }
}

@media only screen and (max-width: 980px) {
    .span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 49.2%;
	}
    .input-one{
        display: inline-flex;
    }
}*/